@font-face{font-family:'tabler-icons';font-style:normal;font-weight:400;font-display:block;src:url('tabler-icons.woff2') format('woff2');}
.ti{font-family:'tabler-icons'!important;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;display:inline-block;}
.ti-alert-triangle:before{content:"\ea06"}
.ti-arrow-back-up:before{content:"\eb77"}
.ti-arrow-down:before{content:"\ea16"}
.ti-arrow-left:before{content:"\ea19"}
.ti-building:before{content:"\ea4f"}
.ti-bulb:before{content:"\ea51"}
.ti-calendar:before{content:"\ea53"}
.ti-check:before{content:"\ea5e"}
.ti-circle-check-filled:before{content:"\f704"}
.ti-clipboard:before{content:"\ea6f"}
.ti-copy:before{content:"\ea7a"}
.ti-currency-dollar:before{content:"\eb84"}
.ti-download:before{content:"\ea96"}
.ti-eye:before{content:"\ea9a"}
.ti-file-text:before{content:"\eaa2"}
.ti-help-circle:before{content:"\f91d"}
.ti-info-circle:before{content:"\eac5"}
.ti-loader-2:before{content:"\f226"}
.ti-mail:before{content:"\eae5"}
.ti-message-question:before{content:"\f98b"}
.ti-plus:before{content:"\eb0b"}
.ti-refresh:before{content:"\eb13"}
.ti-scan:before{content:"\ebc8"}
.ti-search:before{content:"\eb1c"}
.ti-shield-check:before{content:"\eb22"}
.ti-sparkles:before{content:"\f6d7"}
.ti-target-arrow:before{content:"\f51a"}
.ti-user-check:before{content:"\eb49"}
.ti-user-search:before{content:"\ef89"}
.ti-users:before{content:"\ebf2"}
.ti-wand:before{content:"\ebcb"}
